body {background-color: green;}
h { color: brown; }
p {border-style: double;}
body {margin-left:04%;}
h {color: blueviolet;}
h {font-style: initial;}
h {font-size: 60px;} h3 {color: cyan;}
body {border-style: outset;}
footer {border-style: groove;}
img {size: 2500px;}

h3 { padding: 65px 50px 75px 100px; }